[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=duett
Type=Application
Categories=Office;Duett;
Exec=duett -l
Name=Duett
GenericName=Duett
Comment=Duett kontorapplikasjon for reknskap. Høgreklikk for fleire val.
Actions=Lokal;Remote;Explorer;Hjelp;
[Desktop Action Lokal]
Name=Lokalt vindauge på PC
Exec=duett -l
[Desktop Action Remote]
Name=Via Eksternt Skrivebord
Exec=duett -e
[Desktop Action Explorer]
Name=Filhandsaming på Server
Exec=duett -u
[Desktop Action Hjelp]
Name=Hjelp for Duett
Exec=duett -h

